body {
    background-color: #abde8c;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header h1 {
    margin: 0;
    color: #ccc;
}

header .container {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex-grow: 1;
}

header .container span {
    align-self: center;
    color: #fff;
    padding: 0.5rem;
}

header a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
}

main {
    flex-grow: 1;
    background-image: url('/static/index_body.webp');
    background-size: cover;
    background-position: center;
}

main p {
    margin: 0;
}

main a {
    text-decoration: none;
}

form p {
    margin: 0;
}

form button {
    margin: 0.5rem;
}

form label {
    margin: 0.5rem;
}

form p label {
    margin: 0;
}

form li {
    padding: 0;
    margin: 1rem;
}

form input {
    margin: 0.5rem;
}

.form-error {
    color: #900;
}

.form-grid {
    grid-template-columns: 10rem auto;
}

.form-grid input[type="text"] .form-grid input[type="email"] .form-grid input[type="password"] {
    width: 30%;
}

h1 {
    margin: 0.5rem;
}

footer {
    margin: 0.5rem;
}

ul, li, p {
    margin: 0;
    padding: 0.5rem;
    font-size: medium;
}

ul p {
    padding: 0rem;
    margin: 0rem;
}

.paginator {
    margin: 0.5rem 0.8rem;
    font-size: medium;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 0.3rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid #ccc;
    
}

.paginator span {
    background-color: #dbd;
    color: #236;
}

table {
    margin: 0.5rem;
}

.alert {
    padding: 0.5rem;
}

.alert-error {
    color: #900;
}

.alert-success {
    color: #070;
}

.user-profile-photo {
    max-width: 15rem;
    float: left;
    border-radius: 60%;
    padding: 0.5rem;
}

.flex-profile {
    display: flex;
    place-items: stretch stretch;
}

.button {
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.button:hover {
    background-color: #ddd;
}

.service_type_filter {
    float: right;
    background-color: #e7d7eb;
}

.service_type_filter li {
    list-style: none;
}

.service_type_filter li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.service_type_filter .current {
    background-color: rgba(255, 255, 255, 0.4);
}

.table-grid {
    display: grid;
    padding: 0.5rem;
    width: 65rem;
}

.my-orders-table {
    grid-template-columns: 0.10fr 0.35fr 0.25fr 0.50fr 0.5fr 0.25fr 0.5fr;
}

.my-order-details-table {
    grid-template-columns: 0.6fr 0.1fr 0.2fr;
}

.table-grid-cell {
    border-bottom: 1px solid #999;
    padding: 0.5rem;
}

.salon-services-table {
    grid-template-columns: 0.6fr 0.1fr;
}

.center {
    text-align: center;
}

.dark {
    font-weight: bolder;
}

.back-button {
    margin: 0.5rem;
    width: 3rem;
}