{% extends 'beauty_services/base.html' %}
{% load static %}
{% block title %}Beauty Salons in {{ block.super }}{% endblock title %}
{% block content %}
<h1>Beauty Salons</h1>
<form action="{% url 'salons' %}" method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
    <button type="submit">search</button>
</form>
<ul>
    {% for salon in salons %}
        <li class="salon">
            <a href="{% url 'salon' salon.pk %}">
                {% if salon.image %}
                    <img src="{{ salon.image.url }}" style='width: 15rem'>
                {% else %}
                    <img src="{% static 'beauty_services/images/no_image.png' %}" style='width: 15rem'>
                {% endif %}
                {{ salon.salon_name }}
            </a>
        </li>
    {% endfor %}
</ul>
<div class="paginator">
    {% if salons.has_other_pages %}
        {% for page_number in salons.paginator.page_range %}
            {% if page_number == salons.number %}
                <span>{{ page_number }}</span>
            {% else %}
                <a href="?page={{ page_number }}">{{ page_number}}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}