{% extends 'beauty_services/base.html' %}
{% load static %}
{% block title %}{{ object.salon_name }} in {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ object.salon_name }}</h>
<ul>
    {% if object.image %}
        <img src="{{ object.image.url }}" style='width: 20rem'>
    {% else %}
        <img src="{% static 'beauty_services/images/no_image.png' %}" style='width: 20rem'>
    {% endif %}
</ul>
<ul>
    {% if object.address %}
        <p>{{ object.address }}</p>
    {% endif %}
</ul>
<ul>
    {% if object.description %}
        <p>{{ object.description|safe }}</p>   
    {% endif %}
</ul>
{% endblock content %}