{% extends 'beauty_services/base.html' %}
{% block title %}Services in {{ block.super }}{% endblock title %}
{% block content %}
<h1>Services </h>
<form action="{% url 'services' %}" method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
    <button type="submit">search</button>
</form>
<div class="service_type_filter">    
    <h5>Service types: <h5>
        <ul>
            {% for filter_service_type in service_types %}
                <li class="{% if filter_service_type == service_type %}current{% endif %}">{{ filter_service_type.link_filtered_services }}</li>
            {% endfor %}
        </ul>
</div>
    <ul>
       {% for service in service_list %}
        <li>{{ service.service_type }}: {{ service.service_name }} - {{ service.price }}</li>
       {% endfor %}
    </ul>
<div class="paginator">
    {% if page_obj.has_previous %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.service_type_id %}service_type_id={{request.GET.service_type_id}}&{% endif %}page=1">&#171;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.service_type_id %}service_type_id={{request.GET.service_type_id}}&{% endif %}page={{ page_obj.previous_page_number }}">&#8249;</a>
    {% endif %}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.service_type_id %}service_type_id={{request.GET.service_type_id}}&{% endif %}page={{ page_obj.next_page_number }}">&#8250;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.service_type_id %}service_type_id={{request.GET.service_type_id}}&{% endif %}page={{ page_obj.paginator.num_pages }}">&#187;</a>
    {% endif %}
</div>    
{% endblock content %}