{% extends 'beauty_services/base.html' %}
{% load i18n %}
{% block title %}{% trans "My Orders in" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "My Orders" %}</h1>
<p><button><a href="{% url 'user_order_create' %}">{% trans "Create new order" %}</a></button></p>
<div class='table-grid my-orders-table'>
    <div class='table-grid-cell center dark'>{% trans "ID" %}</div>
    <div class='table-grid-cell center dark'>{% trans "Date" %}</div>
    <div class='table-grid-cell center dark'>{% trans "Total sum" %}</div>
    <div class='table-grid-cell center dark'>{% trans "Reserved date" %}</div>
    <div class='table-grid-cell center dark'>{% trans "Status" %}</div>
    <div class='table-grid-cell center dark'></div>
    <div class='table-grid-cell center dark'>{% trans "Order details" %}</div>
    <div class='table-grid-cell center dark'>{% trans "Actions" %}</div>
    {% for order in order_list %}
        <div class='table-grid-cell center'>{{ order.id }}</div>
        <div class='table-grid-cell center'>{{ order.date }}</div>
        <div class='table-grid-cell center'>{{ order.total_sum }}</div>
        <div class='table-grid-cell center'>{{ order.reserved_date }}</div>
        <div class='table-grid-cell center'>{{ order.get_status_display }}</div>
            {% if order.status == 'n' %}
                <div class='table-grid-cell center'><button><a href="{% url 'user_order_details_add' order.pk %}">{% trans "Add details" %}</a></button></div>
            {% else %}
                <div class='table-grid-cell center'>-</div>
            {% endif %}
        <div class='table-grid-cell center'><button><a href="{% url 'user_order' order.pk %}">{% trans "Details" %}</a></button></div>
        <div class='table-grid-cell center'>
            {% if order.status == 'n' %}
                {% if order.total_sum > 0 %}
                    <button><a href="{% url 'user_order_update' order.pk %}">{% trans "Pay advance" %}</a></button>
                {% endif %}
                <button><a href="{% url 'user_order_delete' order.pk %}">{% trans "Cancel" %}</a></button>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="paginator">
    {% if page_obj.has_other_pages %}
        {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
                <span>{{ page_number }}</span>
            {% else %}
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}