{% extends 'beauty_services/base.html' %}
{% block title %}My Orders in {{ block.super }}{% endblock title %}
{% block content %}
<h1>My Orders</h1>
<p><button><a href="{% url 'user_order_create' %}">Create New Order</a></button></p>
<div class='table-grid my-orders-table'>
    <div class='table-grid-cell center dark'>Date</div>
    <div class='table-grid-cell center dark'>Total sum</div>
    <div class='table-grid-cell center dark'>Reserved date</div>
    <div class='table-grid-cell center dark'>Status</div>
    <div class='table-grid-cell center dark'>Order details</div>
    <div class='table-grid-cell center dark'>Actions</div>
    {% for order in order_list %}
        <div class='table-grid-cell center'>{{ order.date }}</div>
        <div class='table-grid-cell center'>{{ order.total_sum }}</div>
        <div class='table-grid-cell center'>{{ order.reserved_date }}</div>
        <div class='table-grid-cell center'>{{ order.get_status_display }}</div>
        <div class='table-grid-cell center'><button><a href="{% url 'user_order' order.pk %}">Details</a></button></div>
        <div class='table-grid-cell center'>
            {% if order.status == 'n' %}
                <button><a href="{% url 'user_order_update' order.pk %}">Pay advance</a></button>
                <button><a href="{% url 'user_order_delete' order.pk %}">Cancel</a></button>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="paginator">
    {% if page_obj.has_other_pages %}
        {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
                <span>{{ page_number }}</span>
            {% else %}
                <a href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}